services:
  gost:
    image: ginuerzh/gost:latest
    container_name: gost
    restart: unless-stopped
    networks:
      macvlan:
        ipv4_address: 192.168.1.90
    command:
      -L=:1080?udp=true -F=192.168.1.254:7890
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=65534
      - PGID=65534
      - TZ=Asia/Shanghai
      - WEBUI_PORT=443
    volumes:
      - iDownload_Qbittorrent:/downloads
      - qbittorrent:/config
    networks:
      macvlan:
        ipv4_address: 192.168.1.89
  baidunetdisk:
    environment:
      - USER_ID=65534
      - GROUP_ID=65534
    ports:
      - 5800:5800
      #- 5900:5900
    volumes:
      - iDownload_BaiduNetdisk:/download
      - baidunetdisk:/config
    image: johngong/baidunetdisk:latest
    restart: unless-stopped
    container_name: baidunetdisk
  gerbera:
    image: gerbera/gerbera:latest
    restart: unless-stopped
    container_name: gerbera
    network_mode: host
    user: 65534:65534
    volumes:
      - iMedia:/content:ro
      - gerbera:/var/run/gerbera
  subconverter:
    ports:
      - 25500:25500
      - 25501:80
    image: tindy2013/subconverter:latest
    restart: unless-stopped
    container_name: subconverter
  subweb:
    image: careywong/subweb:latest
    restart: unless-stopped
    container_name: subweb
    network_mode: service:subconverter
    depends_on:
      - subconverter
  portainer:
    ports:
      #- 8000:8000
      - 9443:9443
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    container_name: portainer
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    user: 65534:999
  alist:
    restart: unless-stopped
    volumes:
      - alist_etc:/opt/alist/data
    ports:
      - 5244:5244
    environment:
      - PUID=65534
      - PGID=65534
      - UMASK=022
    container_name: alist
    image: xhofe/alist:latest
  aria2:
    container_name: aria2
    image: p3terx/aria2-pro:latest
    environment:
      - PUID=65534
      - PGID=65534
      - UMASK_SET=022
      - RPC_SECRET=ARIA2_RPC
      - RPC_PORT=6800
      - LISTEN_PORT=6888
      - TZ=Asia/Shanghai
    volumes:
      - aria2-config:/config
      - aria2-downloads:/downloads
    ports:
      - 6800:6800
      - 6888:6888
      - 6888:6888/udp
    restart: unless-stopped
  ariaNg:
    container_name: ariaNg
    image: p3terx/ariang:latest
    ports:
      - 6880:6880
    restart: unless-stopped
    logging:
      options:
        max-size: 1m
  webdav:
    volumes:
      - /mnt/webdav:/mnt/webdrive:rshared
    restart: unless-stopped
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor=unconfined
    environment:
      - WEBDRIVE_USERNAME=admin
      - WEBDRIVE_PASSWORD=webdav
      - WEBDRIVE_URL=http://alist:5244/dav
      - DAVFS2_ASK_AUTH=0
      - TZ=Asia/Shanghai
      - OWNER=1000
    image: efrecon/webdav-client:latest
    container_name: webdav
    depends_on:
      - alist
    links:
      - alist

networks:
  macvlan:
    name: iMacvlan
    driver: macvlan
    driver_opts:
      parent: ens18
      macvlan_mode: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.254

volumes:
  qbittorrent:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/DockerPV/qbittorrent/config
  baidunetdisk:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/DockerPV/baidunetdisk
  gerbera:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/DockerPV/gerbera
  iDownload_Qbittorrent:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/iDownload/qbittorrent
  iDownload_BaiduNetdisk:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/iDownload/baidunetdisk
  iMedia:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/iMedia
  portainer:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/DockerPV/portainer
  alist_etc:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/DockerPV/alist
  aria2-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/DockerPV/aria2-config
  aria2-downloads:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/NFS_Share/iDownload/aria2-downloads
